<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products.length> 0) {%>
                    <h2>Total Price <%= totalPrice %></h2>
                    <ul>
                        <% products.forEach(p=> { %>

                            <li>
                                <%=p.title%> (<%=p.cartItem.quantity%>)
                                        <form action="/delete-from-cart" method="POST">
                                            <input type="hidden" name="productId" value="<%= p.id %>">
                                            <button type="submit" class="btn">Delete From Cart</button>
                                        </form>
                            </li>

                        <% }); %>
                    </ul>
                    
                    <form action="/create-order", method="POST">
                        
                        <button type="submit" class="btn">Order Now</button>

                    </form>
                    <%} else {%>
                        <h1>No Products Found</h1>
                        <%} %>
            </main>
            <%- include('../includes/end.ejs') %>