<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%if(orders.length<=0) {%>
        Nothing There
        <%} else {%>
            <ul>
                <% orders.forEach(order => {%>
                    <li>
                        <h1>#<%= order.id%></h1>
                        <ul>
                            <% order.products.forEach(item => {%>
                                <li><%= item.title %> (<%=item.orderItem.quantity%>)</li>
                            <% });%>
                        </ul>
                    </li>
                <% });%>
            </ul>
            <%}%>
        <%- include('../includes/end.ejs') %>